
@{
    ViewData["Title"] = "AskAQuestion";
    var reservationId = ViewBag.ReservationId;
}

<h1>Zadaj pytanie</h1>
<form asp-action="AskAQuestion">
    <div class="form-group">
        <textarea class="form-control" name="message" id="messageTextArea" rows="3"></textarea>
        <input type="hidden" name="reservationId" value="@reservationId" />
        <button type="submit" class="btn btn-ask">Wyślij</button>
    </div>
</form>
<style>
    .btn-ask {
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
    }
</style>