
@{
    ViewData["Title"] = "AskAQuestion";
}

<h1>Zadaj pytanie</h1>

<div class="form-group">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

@Html.ActionLink("Wyślij", "AskAQuestion", new { reservationId = 12 }, new { @class = "btn btn-ask" })

</div>

<style>
    .btn-ask {
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
    }
</style>